/* https://coolors.co/palette/1f2421-216869-49a078-9cc5a1-dce1de */

.game img{
    width: 250px;
}
body{
    text-align: center;
    background-image: linear-gradient( #216869 20%, black 80% );
    color: #80ED99;
    margin: 0;
  
    text-align: center;
}

.profile {
    border-radius: 40%;
}


a:link{
    color:#80ED99;
    
}
a:visited{
    color:#80ED99;
}
    
.header{
    
    display: flex;
    justify-content: space-around;
   
   
    font-family: 'Teko', sans-serif;
}

.games{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50;
}

.footer{
    
    display: flex;
    justify-content: flex-end;
}

#name{
    margin-bottom: auto;
    text-shadow:  15px 10px 8px black;
    font-size: 300px;
    font-family: 'Teko', cursive;
    opacity: 0.7;
}

.menu a{
    margin-right: 30px;
}

.game {
    margin: 15px;
}
.footer a{
    margin-right: 30px;
}

.game:hover img{
   opacity: 0.3;
}
